* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: rgb(181, 59, 59);
    border-radius: 1px;
}

body {
    color: white;
    background-color: black;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.home {
    padding: 15px;
}

.home ul li {
    width: 20px;
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 14px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    gap: 15px;
    font-size: 13px;
    padding: 15px;
}

.heading img {
    width: 20px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.footer {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    gap: 10px;
    font-size: 13px;
}

.right>* {
    padding: 10px;
}

.nav img {
    filter: invert(1);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 1px;
}

.header {
    background-color: rgba(18, 18, 18, 0.849);
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.buttons .login {
    background-color: beige;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

.login:hover {
    transform: scale(1.05);
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(234, 230, 230);
}

.buttons .signup {
    color: rgb(205, 203, 203);
    font-weight: bold;
    font-size: 14px;
}

.signup:hover {
    transform: scale(1px);
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.spotifyplaylist {
    position: relative;
    background-color: rgb(55, 53, 53);
    height: 80vh;
}

.card>* {
    padding-top: 3px;
}

.cardContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 60vh;
    overflow-y: visible;
}

.card {
    padding: 7px 10px;
    width: 150px;
    height: 210px;
    background-color: #181818;
    border-radius: 5px;
    position: relative;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: fill;
    border-radius: 5px;
}

.cardContainer .card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card .cardButton {
    position: absolute;
    top: 90px;
    right: 20px;
    width: 40px;
    opacity: 0;
    cursor: pointer;
    transition: all 1s;
}

.card:hover .cardButton {
    opacity: 100%;
    top: 85px;
}

.playbar {
    position: fixed;
    bottom: 0;
    width: 64vw;
    height: 90px;
    background-color: rgb(1, 23, 23);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 12px;
    text-align: center;
}

.songButton img {
    margin-left: 20px;
    width: 35px;
    cursor: pointer;
}

.songSlider {
    -webkit-appearance: none;
    width: 50%;
    height: 1px;
    background: #d3d3d3;
}
.songSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #ff3838;
    border-radius: 50%;
    cursor: pointer;
  }

.songList ol li{
    margin-top: 10px;
}
.songList{
    padding-left: 20px;
}